language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install: "python setup.py build"
# command to run tests
script: python setup.py test
notifications:
  email: false
  irc: "chat.freenode.net##legoktm"
  skip_join: true
